<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.0" />
    <httpRuntime />
  </system.web>
</configuration>
<!--ProjectGuid: {67E90EEF-53A1-4F96-98C9-D0AE61B2C3DA}-->